@using ProjectPrepared.Models

@model ProjectPrepared.Models.AdminRegistration
@{
    ViewBag.Title = "AdminRegister";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-2">
           
            <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <form class="user">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.AdminFirstName, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.AdminFirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AdminFirstName, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.AdminLastName, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.AdminLastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AdminLastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.AdminEmail, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.AdminEmail, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AdminEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.AdminPassword, htmlAttributes: new { @class = "control-label col-md-5" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.AdminPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AdminPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                               <div class="form-group row">
                                    <div class="col-md-10">
                                        <input type="submit" value="Create Your Account" class="btn btn-success" />
                                    </div>
                                </div>
                                <div>
                                    @Html.ActionLink("Back To Home Page", "Index", "Home", new { @class = "btn btn-primary" })
                                </div>
                            </form>

                        </div>
     
        </div>

    </div>
}


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

